#interface.col-lg-9.form
  .stretchy
    .volca.bass.emulator
      .small.knob.eg.lit#tempo{ data: { super_midi: 0, midi: 0, control_number: 0} }
        .notch
      .small.knob.eg.lit#attack{ data: { midi: @patch.attack || 63, control_number: 46 } }
        .notch
      .small.knob.eg.lit#decay_release{ data: { midi: @patch.decay_release || 63, control_number: 47 } }
        .notch
      .small.knob.eg.lit#cutoff_eg_int{ data: { midi: @patch.cutoff_eg_int || 63, control_number: 48 } }
        .notch
      #led
        .digit#thousands
        .digit#hundreds
        .digit#tens
        .digit#ones
        #decimal.hidden
      .medium.knob#octave{ data: { midi: @patch.octave || 63, control_number: 40 } }
        .notch
      .medium.knob#peak{ data: { midi: @patch.peak || 63, control_number: 0 } }
        .notch
      .large.knob#cutoff{ data: { midi: @patch.cutoff || 63, control_number: 0 } }
        .notch
      .medium.knob.lfo#lfo_rate{ data: { midi: @patch.lfo_rate || 63, control_number: 41 } }
        .notch
      .medium.knob.lfo#lfo_int{ data: { midi: @patch.lfo_int || 63, control_number: 42 } }
        .notch
      .small.knob.vco#vco1_pitch{ data: { midi: @patch.vco1_pitch || 63, control_number: 43 }, class: @patch.lit?(:vco1_active) }
        .notch
      .small.knob.vco#vco2_pitch{ data: { midi: @patch.vco2_pitch || 63, control_number: 44 }, class: @patch.lit?(:vco2_active) }
        .notch
      .small.knob.vco#vco3_pitch{ data: { midi: @patch.vco3_pitch || 63, control_number: 45 }, class: @patch.lit?(:vco3_active) }
        .notch
      .button#vco1_active_button{ data: { active: @patch.vco1_active.to_s || 'true' }, class: @patch.lit?(:vco1_active) }
      .button#vco2_active_button{ data: { active: @patch.vco2_active.to_s || 'true' }, class: @patch.lit?(:vco2_active) }
      .button#vco3_active_button{ data: { active: @patch.vco3_active.to_s || 'true' }, class: @patch.lit?(:vco3_active) }
      .medium.knob#volume{ data: { midi: 127 } }
        .notch
      .cooltip
      .button#play.highlight
      #experimental
      #stop.hidden

      .bottom-row
        = radio_button_tag 'patch[vco_group]', 'one', @patch.vco_group_one, class: :control
        = label_tag('patch[vco_group_one]') do
          %span.multi
            .note-light.note-0.lit
            .light{ id: 'vco_group_one_light', data: { radio: true }, class: @patch.vco_group_one ? 'lit' : '' }

        = radio_button_tag 'patch[vco_group]', 'two', @patch.vco_group_two, class: :control
        = label_tag('patch[vco_group_two]') do
          %span.multi
            .note-light.note-1.lit
            .light{ id: 'vco_group_two_light', data: { radio: true }, class: @patch.vco_group_two ? 'lit' : '' }

        = radio_button_tag 'patch[vco_group]', 'three', @patch.vco_group_three, class: :control
        = label_tag('patch[vco_group_three]') do
          %span.multi
            .note-light.note-2.lit
            .light{ id: 'vco_group_three_light', data: { radio: true }, class: @patch.vco_group_three ? 'lit' : '' }

        = check_box :patch, :lfo_target_amp, @patch.checked?('lfo_target_amp'), 'true', 'false'
        = label_tag('patch[lfo_target_amp]') do
          %span.on-off
            .note-light.note-3.lit
            .light{ id: 'lfo_target_amp_light', class: @patch.lit?(:lfo_target_amp) }

        = check_box :patch, :lfo_target_pitch, @patch.checked?('lfo_target_pitch'), 'true', 'false'
        = label_tag('patch[lfo_target_pitch]') do
          %span.on-off
            .note-light.note-4.lit
            .light{ id: 'lfo_target_pitch_light', class: @patch.lit?(:lfo_target_pitch) }

        = check_box :patch, :lfo_target_cutoff, @patch.checked?('lfo_target_cutoff'), 'true', 'false'
        = label_tag('patch[lfo_target_cutoff]') do
          %span.on-off
            .note-light.note-5.lit
            .light{ id: 'lfo_target_cutoff_light', class: @patch.lit?(:lfo_target_cutoff) }

        = check_box :patch, :lfo_wave, @patch.checked?('lfo_wave'), 'true', 'false'
        = label_tag('patch[lfo_wave]') do
          %span.on-off
            .note-light.note-6.lit
            .light{ id: 'lfo_wave_light', class: @patch.lit?(:lfo_wave) }

        = check_box :patch, :vco1_wave, @patch.checked?('vco1_wave'), 'true', 'false'
        = label_tag('patch[vco1_wave]') do
          %span.on-off
            .note-light.note-7.lit
            .light{ id: 'vco1_wave_light', class: @patch.lit?(:vco1_wave) }

        = check_box :patch, :vco2_wave, @patch.checked?('vco2_wave'), 'true', 'false'
        = label_tag('patch[vco2_wave]') do
          %span.on-off
            .note-light.note-8.lit
            .light{ id: 'vco2_wave_light', class: @patch.lit?(:vco2_wave) }

        = check_box :patch, :vco3_wave, @patch.checked?('vco3_wave'), 'true', 'false'
        = label_tag('patch[vco3_wave]') do
          %span.on-off
            .note-light.note-9.lit
            .light{ id: 'vco3_wave_light', class: @patch.lit?(:vco3_wave) }

        = check_box :patch, :sustain_on, @patch.checked?('sustain_on'), 'true', 'false'
        = label_tag('patch[sustain_on]') do
          %span.on-off
            .note-light.note-10.lit
            .light{ id: 'sustain_on_light', class: @patch.lit?(:sustain_on) }

        = check_box :patch, :amp_eg_on, @patch.checked?('amp_eg_on'), 'true', 'false'
        = label_tag('patch[amp_eg_on]') do
          %span.on-off
            .note-light.note-11.lit
            .light{ id: 'amp_eg_on_light', class: @patch.lit?(:amp_eg_on) }
        #clear-slide.clear-control
        #clear-active-step.clear-control
        #clear-part.clear-control

  .field.sequence-area
    .sequence-holder
    = link_to 'Show sequencer', '#', id: 'toggle-sequences', class: 'btn btn-default', data: { hide_text: 'Hide sequencer', show_text: 'Show sequencer' }

  #mobile-keyboard.hidden
    #octave-up.mobile-control.octave-button.top Oct. ⬆️
    #octave-down.mobile-control.octave-button.bottom Oct. ⬇️
    #w.mobile-control.key.top{ data: { keyCode: 87 } }
    #e.mobile-control.key.top{ data: { keyCode: 69 } }
    #t.mobile-control.key.top{ data: { keyCode: 84 } }
    #y.mobile-control.key.top{ data: { keyCode: 89 } }
    #u.mobile-control.key.top{ data: { keyCode: 85 } }
    #o.mobile-control.key.top{ data: { keyCode: 79 } }
    #a.mobile-control.key.bottom{ data: { keyCode: 65 } }
    #s.mobile-control.key.bottom{ data: { keyCode: 83 } }
    #d.mobile-control.key.bottom{ data: { keyCode: 68 } }
    #f.mobile-control.key.bottom{ data: { keyCode: 70 } }
    #g.mobile-control.key.bottom{ data: { keyCode: 71 } }
    #h.mobile-control.key.bottom{ data: { keyCode: 72 } }
    #j.mobile-control.key.bottom{ data: { keyCode: 74 } }
    #k.mobile-control.key.bottom{ data: { keyCode: 75 } }
    #l.mobile-control.key.bottom{ data: { keyCode: 76 } }
#patch-metadata.col-md-9.col-lg-3
  #performance-warning.hidden.alert.alert-danger.alert-dismissable{ role: 'alert' }
  .accordion
    .accordion-item
      %h4.accordion-header
        Usage
        .collapse-toggle.glyphicon.glyphicon-chevron-down
      .accordion-body.clearfix
        #desktop-instructions
          Use computer keyboard to play notes
          = image_tag('computer-midi-keyboard-small.png', id: 'emulator-keyboard')
          %br
          %br
          %p
            Or try the
            = link_to 'mobile version', '#', id: 'toggle-mobile'
        #back-to-desktop.hidden
          = link_to 'Back to desktop mode', '#'
        #saving
          <strong>Saving / sharing a patch</strong><br />
          To save a patch and sequence, click the "🔗&nbsp;Generate permalink" button below and then bookmark the URL.  The URL of this page will be updated to reflect the current patch and sequence settings as soon as the button is clicked.
          %br
          %button#permalink-link.btn 🔗 Generate permalink
          #green-check-mark
    .accordion-item
      %h4.accordion-header
        Compatibility
        .collapse-toggle.glyphicon.glyphicon-chevron-down
      .accordion-body
        There are known issues with the sequencer on Chrome.  You will have a smoother experience on Firefox.
    .accordion-item
      %h4.accordion-header
        Disclaimer
        .collapse-toggle.glyphicon.glyphicon-chevron-down
      #disclaimer.accordion-body
        This is a <strong>fan-made emulator</strong>.  It is in no way produced by, associated with, or endorsed by Korg Inc. or any related business entities.  It's made out of appreciation for the actual product, which sounds way better, and I suggest you pick one up and find out for yourself!
.off-canvas
  =image_tag('numbers.jpg')
  =image_tag('symbols.jpg')
