- if request.path == mystery_patch_path
  - mystery_patch_view = true
#interface.col-lg-9.form
  .stretchy
    .volca.keys.emulator
      .small.knob.midi-enabled.first-row.vco-column.lit#detune{ data: { midi: @patch.detune, control_number: 42 } }
        .notch
      .small.knob.midi-enabled.second-row.vco-column.lit#portamento{ data: { midi: @patch.portamento, control_number: 5 } }
        .notch
      .small.knob.midi-enabled.third-row.vco-column.lit#vco_eg_int{ data: { midi: @patch.vco_eg_int, control_number: 43 } }
        .notch
      .small.knob.midi-enabled.first-row.vcf-column.lit#cutoff{ data: { midi: @patch.cutoff, control_number: 44 } }
        .notch
      .small.knob.second-row.vcf-column.lit#peak{ data: { midi: @patch.peak, control_number: 0 } }
        .notch
      .small.knob.midi-enabled.third-row.vcf-column.lit#vcf_eg_int{ data: { midi: @patch.vcf_eg_int, control_number: 45 } }
        .notch
      .small.knob.midi-enabled.first-row.lfo-column.lit#lfo_rate{ data: { midi: @patch.lfo_rate, control_number: 46 } }
        .notch
      .small.knob.midi-enabled.second-row.lfo-column.lit#lfo_pitch_int{ data: { midi: @patch.lfo_pitch_int, control_number: 47 } }
        .notch
      .small.knob.midi-enabled.third-row.lfo-column.lit#lfo_cutoff_int{ data: { midi: @patch.lfo_cutoff_int, control_number: 48 } }
        .notch
      .small.knob.midi-enabled.first-row.eg-column.lit#attack{ data: { midi: @patch.attack, control_number: 49 } }
        .notch
      .small.knob.midi-enabled.second-row.eg-column.lit#decay_release{ data: { midi: @patch.decay_release, control_number: 50 } }
        .notch
      .small.knob.midi-enabled.third-row.eg-column.lit#sustain{ data: { midi: @patch.sustain, control_number: 51 } }
        .notch
      .dark.knob.midi-enabled#voice{ data: { midi: @patch.voice, control_number: 40 } }
        .notch
      .dark.knob.midi-enabled#octave{ data: { midi: @patch.octave, control_number: 41 } }
        .notch
      .small.knob.midi-enabled.unlit#delay_time{ data: { midi: @patch.delay_time, control_number: 52 } }
        .notch
      .small.knob.midi-enabled.unlit#delay_feedback{ data: { midi: @patch.delay_feedback, control_number: 53 } }
        .notch
      .small.knob.unlit#tempo{ data: { midi: 0, control_number: 0 } }
        .notch
      .small.knob.unlit#volume{ data: { midi: 127 } }
        .notch

      #play.button.nolight
      #stop.hidden
      - if mystery_patch_view
        #mystery-params-scrim.scrim.hidden
          %span.mystery-mark.m1 ?
          %span.mystery-mark.m2 ?
          %span.mystery-mark.m3 ?
          %span.mystery-mark.m4 ?
          %span.mystery-mark.m5 ?
          %span.mystery-mark.m6 ?
          %span.mystery-mark.m7 ?
          %span.mystery-mark.m8 ?
          %span.mystery-mark.m9 ?
          %span.mystery-mark.m10 ?
        #tempo-scrim.scrim
      #blackbuttons-scrim.scrim
      #permalink.button.nolight
      .green-check-mark
      #func.button.nolight
      .cooltip
      #led
        .digit#thousands
        .digit#hundreds
        .digit#tens
        .digit#ones
        #decimal.hidden

      #volca-keyboard
        #F0.key.white-key{ data: { midinote: 41 } }
        #Gb0.key.black-key{ data: { midinote: 42 } }
        #G0.key.white-key{ data: { midinote: 43 } }
        #Ab0.key.black-key{ data: { midinote: 44 } }
        #A0.key.white-key{ data: { midinote: 45 } }
        #Bb0.key.black-key{ data: { midinote: 46 } }
        #B0.key.white-key{ data: { midinote: 47 } }
        #C0.key.white-key{ data: { midinote: 48 } }
        #Db0.key.black-key{ data: { midinote: 49 } }
        #D0.key.white-key{ data: { midinote: 50 } }
        #Eb0.key.black-key{ data: { midinote: 51 } }
        #E0.key.white-key{ data: { midinote: 52 } }
        #F1.key.white-key{ data: { midinote: 53 } }
        #Gb1.key.black-key{ data: { midinote: 54 } }
        #G1.key.white-key{ data: { midinote: 55 } }
        #Ab1.key.black-key{ data: { midinote: 56 } }
        #A1.key.white-key{ data: { midinote: 57 } }
        #Bb1.key.black-key{ data: { midinote: 58 } }
        #B1.key.white-key{ data: { midinote: 59 } }
        #C1.key.white-key{ data: { midinote: 60 } }
        #Db1.key.black-key{ data: { midinote: 61 } }
        #D1.key.white-key{ data: { midinote: 62 } }
        #Eb1.key.black-key{ data: { midinote: 63 } }
        #E1.key.white-key{ data: { midinote: 64 } }
        #F2.key.white-key{ data: { midinote: 65 } }
        #Gb2.key.black-key{ data: { midinote: 66 } }
        #G2.key.white-key{ data: { midinote: 67 } }
      #keyboard-highlight
      .bottom-row
        .placeholder
        .placeholder
        .placeholder

        -# LFO SHAPE SAW
        = radio_button_tag 'patch[lfo_shape]',
                           'saw',
                           @patch.lfo_shape_saw,
                           class: :control
        = label_tag('patch[lfo_shape_saw]') do
          %span.multi
            .light{ id: 'lfo_shape_saw_light',
                    data: { radio: true },
                    class: @patch.lfo_shape_saw ? 'lit' : 'unlit' }


        -# LFO SHAPE TRI
        = radio_button_tag 'patch[lfo_shape]',
                           'triangle',
                           @patch.lfo_shape_triangle,
                           class: :control
        = label_tag('patch[lfo_shape_triangle]') do
          %span.multi
            .light{ id: 'lfo_shape_triangle_light',
                    data: { radio: true },
                    class: @patch.lfo_shape_triangle ? 'lit' : 'unlit' }

        -# LFO SHAPE SQUARE
        = radio_button_tag 'patch[lfo_shape]',
                           'square',
                           @patch.lfo_shape_square,
                           class: :control
        = label_tag('patch[lfo_shape_square]') do
          %span.multi
            .light{ id: 'lfo_shape_square_light',
                    data: { radio: true },
                    class: @patch.lfo_shape_square ? 'lit' : 'unlit' }

        -# LFO TRIGGER SYNC
        = check_box :patch,
                    :lfo_trigger_sync,
                    @patch.checked?('lfo_trigger_sync'),
                    'true',
                    'false'
        = label_tag('patch[lfo_trigger_sync]') do
          %span.on-off
            .light{ id: 'lfo_trigger_sync_light',
                    class: @patch.lit?(:lfo_trigger_sync) }

        -# TEMPO PLACEHOLDERS
        .placeholder
        .placeholder
        .placeholder

        -# METRONOME
        .placeholder

        -# STEP TRIGGER
        = check_box :patch,
                    :step_trigger,
                    @patch.checked?('step_trigger'),
                    'true',
                    'false'
        = label_tag('patch[step_trigger]') do
          %span.on-off
            .light{ id: 'step_trigger_light',
                    class: @patch.lit?(:step_trigger) }

  .field.sequence-area
    .sequence-holder
    = link_to 'Show sequencer', '#', id: 'toggle-sequences', class: 'btn btn-default', data: { hide_text: 'Hide sequencer', show_text: 'Show sequencer' }

#patch-metadata.col-md-9.col-lg-3
  - if mystery_patch_view
    #audible-engine-switch.btn-group{ role: 'group', aria: { label: 'Audible engine switch' } }
      %button#audible-engine-primary.btn.btn-default.active{ type: 'button' }
        Hear Your Patch
      %button#audible-engine-mystery.btn.btn-default{ type: 'button' }
        Hear Mystery Patch
    %table#audible-engine-shortcuts
      %tbody
        %tr
          %td Left Arrow
          %td Right Arrow
    %hr
    #timer-description
    #timer
    #post-game-message{ style: 'display: none;' }
      Come back tomorrow for a new mystery patch.
    #need-practice.well{ style: 'display: none' }
      %h4 Need some practice?
      You can freely play the
      =link_to keys_emulator_path, target: '_blank' do
        %strong Volca Keys Emulator
      in the meantime

    .mystery-action-buttons
      %button#request-hint.btn.btn-default.hidden{ type: 'button', disabled: true, aria: { label: 'Request a hint' }, title: 'Request a hint' }
        💡
      %button#submit-solution.btn.btn-success
        I'm Done
      %button#show-results.btn.btn-default{ type: 'button', style: 'display: none;' }
        Show Results
  #performance-warning.hidden.alert.alert-danger.alert-dismissable{ role: 'alert' }
  .accordion
    = render 'shared/midi_in'
    .accordion-item#accordion-feedback
      %h4.accordion-header
        Feedback
      .accordion-body.clearfix
        If you enjoy this emulator, consider buying me a coffee.
        <br /><br />
        %form{ action: "https://www.paypal.com/donate", method: "post", target: "_blank" }
          %input{ type: "hidden", name: "hosted_button_id", value: ENV['PAYPAL_BUTTON_ID']}
          %input{ type: "image", src: "https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif", border: "0", name: "submit", title: "PayPal - The safer, easier way to pay online!", alt: "Donate with PayPal button" }
          %img{ alt: "", border: "0", src: "https://www.paypal.com/en_DE/i/scr/pixel.gif", width: "1", height: "1" }
        <br />
        You can also reach out via the
        = link_to 'discord', ENV['DISCORD_SERVER_INVITE_LINK'], target: '_blank'
        or open a
        = link_to 'GitHub issue.', 'https://github.com/waterjump/volca-share/issues/new'

    .accordion-item#accordion-usage
      %h4.accordion-header
        Usage
        .collapse-toggle.glyphicon.glyphicon-menu-down
      - usageBodyStyle = cookies[:accordionUsage] == 'closed' ? 'display:none;' : ''
      .accordion-body.clearfix{ style: usageBodyStyle }
        #desktop-instructions
          - if mystery_patch_view
            %h4 ⚠️ YOU NEED TO PLAY THE NOTES YOURSELF ⚠️
            %h4 Play whatever notes you want.  Only timbre (knob settings etc.) is considered for scoring
          Use the on-screen keyboard or your computer keyboard to play notes
          = image_tag('computer-midi-keyboard-small.png', id: 'emulator-keyboard')
          %br
          %br
          %p
            'Z' and 'X' can be used to change octave.
        - unless mystery_patch_view
          #saving
            <strong>Saving / sharing a patch</strong><br />
            To save a patch, click the "<span class='interface-text'>permalink</span>" button on the emulator's interface.  The URL of this page will be updated to reflect the current patch and sequence settings and then you can bookmark it or send it to a friend, etc.
    .accordion-item#accordion-disclaimer
      %h4.accordion-header
        Disclaimer
        .collapse-toggle.glyphicon.glyphicon-menu-down
      - disclaimerBodyStyle = cookies[:accordionDisclaimer] == 'closed' ? 'display:none;' : ''
      #disclaimer.accordion-body{ style: disclaimerBodyStyle }
        This is a <strong>fan-made emulator</strong>.  It is in no way produced by, associated with, or endorsed by Korg Inc. or any related business entities.  It's made out of appreciation for the actual product, which sounds way better, and I suggest you pick one up and find out for yourself!
.off-canvas
  =image_tag('numbers.jpg')
  =image_tag('symbols.jpg')
