- locals ||= {}
- if @keys_patches.empty?
  .well No patches to show.
- else
  .col-sm-12.clearfix
    - unless locals[:hide_pagination]
      .pagination-holder.col-sm-6
        = paginate @keys_patches
    .sort.col-sm-6
      - if @sort.present?
        .h4
          Sort by:
          - if @sort == :quality
            = link_to 'Date Created', keys_patches_path(sort: :newest)
          - else
            Date Created
          &nbsp;|&nbsp;
          - if @sort == :created_at
            = link_to 'Quality', keys_patches_path
          - else
            Quality

  - @keys_patches.each do |patch|
    = render partial: 'shared/keys_patch_card', locals: { patch: patch, wrapper_class: 'col-md-6' }

  .col-sm-12.clearfix
    - unless locals[:hide_pagination]
      .pagination-holder.col-sm-6
        = paginate @keys_patches
