%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{'aria-controls' => 'navbar', 'aria-expanded' => 'false', 'data-target' => '#navbar', 'data-toggle' => 'collapse', :type => 'button'}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: '/'} VolcaShare
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li
          = link_to 'Bass', '#', class: 'dropdown-toggle', id: 'dropdownMenuLink', data: { toggle: 'dropdown' }
          .dropdown-menu{ aria: { labelledby: 'dropdownMenuLink' } }
            %ul
              = link_to patches_path, class: 'dropdown-item' do
                %li Patches
              = link_to new_patch_path, class: 'dropdown-item' do
                %li New patch
              = link_to bass_emulator_path, class: 'dropdown-item' do
                %li Emulator
        %li
          = link_to 'Keys', '#', class: 'dropdown-toggle', id: 'dropdownMenuLink', data: { toggle: 'dropdown' }
          .dropdown-menu.keys{ aria: { labelledby: 'dropdownMenuLink' } }
            %ul
              = link_to keys_patches_path, class: 'dropdown-item' do
                %li Patches
              = link_to new_keys_patch_path, class: 'dropdown-item' do
                %li New patch
        - if current_page?(bass_emulator_path)
          %li
            = link_to 'Volca Bass Emulator', '#', class: 'link-like'
        - else
          %li#emulator_nav_callout
            = link_to 'Volca Bass Emulator', bass_emulator_path
            .speech.left Now with sequencer!
        - if ENV['FEATURE_ENABLED_PATCH_NAMER'] == 'true'
          - if current_page?(synth_patch_namer_path)
            %li
              = link_to 'Synth Patch Namer', '#', class: 'link-like'
          - else
            %li#synth_patch_namer
              = link_to 'Synth Patch Namer', synth_patch_namer_path
              .speech.left New!
      %ul.nav.navbar-nav.navbar-right
        - if current_user.present?
          %li= link_to 'My Patches', user_path(current_user.slug)
          %li= link_to 'Log out', destroy_user_session_path, method: :delete
        - else
          %li= link_to 'Log in', new_user_session_path
          %li= link_to 'Sign Up', new_user_session_path
    / /.nav-collapse
