- @patches.each do |patch|
  .wrapper.col-md-6.well.well-sm
    =link_to patch do
      .image{ class: patch.secret ? :secret : nil }
    .patch
      =link_to patch.name, patch, { class: :title }
      %br/
      .description= patch.description
      - if patch.secret?
        .secret= "[SECRET]"
      .tags
        - patch.tags.first(3).each do |tag|
          ="\##{tag} "
    .info
      =link_to patch.username, user_path(patch.user), { class: :username }
      %br/
      .date= patch.created_at.strftime("%B #{patch.created_at.day.ordinalize}, %Y" )
      .icons
        - if patch.user == current_user
          = link_to edit_patch_path(patch) do
            .edit_glyph
