- if @patches.empty?
  .well No patches to show.
- else
  .col-sm-12.clearfix
    .pagination-holder.col-sm-6
      = paginate @patches
    .sort.col-sm-6
      - if @sort.present?
        .h4
          Sort by:
          - if @sort == :quality
            = link_to 'Date Created', patches_path(sort: :newest)
          - else
            Date Created
          &nbsp;|&nbsp;
          - if @sort == :created_at
            = link_to 'Quality', patches_path
          - else
            Quality
  - @patches.each do |patch|
    .wrapper.col-md-6.well.well-sm.patch-holder
      .image-holder
        - if patch.user.present?
          = link_to user_patch_path(patch.user.slug, patch.slug) do
            .image.bass{ class: patch.index_classes }
        - else
          = link_to patch do
            .image.bass{ class: patch.index_classes }
      .patch
        - if patch.audio_sample.present?
          .speaker{ data: { slug: patch.slug, toggle: 'modal', target: '#audio-preview-modal' }, title: 'Preview audio' }
        - if patch.user.present?
          = link_to patch.name, user_patch_path(patch.user.slug, patch.slug), { class: :title }
        - else
          = link_to patch.name, patch_path(patch.id), { class: :title }
        %br/
        .description= patch.description
        - if patch.secret?
          .secret= "[SECRET]"
        .tags
          - patch.tags.each do |tag|
            = link_to "\##{tag}", tags_show_path(tag: tag), class: :tag
      .info
        - if patch.user.present?
          = link_to patch.username, user_path(patch.user.slug), { class: :username }
        - else
          ¯\_(ツ)_/¯
        %br/
        .date= patch.created_at.strftime("%B #{patch.created_at.day.ordinalize}, %Y" )
        .icons
          - if current_user.present? && patch.user == current_user
            = link_to edit_patch_path(patch.slug) do
              .edit.glyph
            = form_tag patch_path(patch.slug), method: :delete, class: :delete_form, data: { confirm: 'Are you sure you want to delete that patch?' } do
              = submit_tag 'Delete', class: 'delete glyph'
