- locals ||= {}
- if @patches.empty?
  .well No patches to show.
- else
  .col-sm-12.clearfix
    - unless locals[:hide_pagination]
      .pagination-holder.col-sm-6
        = paginate @patches
    .sort.col-sm-6
      .h4
        - audio_only = params[:audio_only] == 'true'
        = check_box_tag :audio_only, false, audio_only
        = label_tag 'audio_only', id: :audio_sample_label  do
          Has audio
          &nbsp;
          &nbsp;
        - if @sort.present?
          Sort by:
          - if @sort == :quality
            - if audio_only
              = link_to 'Date Created', patches_path(sort: :newest, audio_only: true)
            - else
              = link_to 'Date Created', patches_path(sort: :newest)
          - else
            Date Created
          &nbsp;|&nbsp;
          - if @sort == :created_at
            - if audio_only
              = link_to 'Quality', patches_path(audio_only: true)
            - else
              = link_to 'Quality', patches_path
          - else
            Quality

  - @patches.each do |patch|
    = render partial: 'shared/patch_card', locals: { patch: patch, wrapper_class: 'col-md-6' }

  .col-sm-12.clearfix
    - unless locals[:hide_pagination]
      .pagination-holder.col-sm-6
        = paginate @patches
