- locals ||= {}
- if @patches.empty?
  .well No patches to show.
- else
  .col-sm-12.clearfix
    - unless locals[:hide_pagination]
      .pagination-holder.col-sm-6
        = paginate @patches
    .sort.col-sm-6
      = check_box_tag :audio_only, false, params[:audio_only] == 'true'
      = label_tag 'audio_only'
      - if @sort.present?
        .h4
          Sort by:
          - if @sort == :quality
            = link_to 'Date Created', patches_path(sort: :newest)
          - else
            Date Created
          &nbsp;|&nbsp;
          - if @sort == :created_at
            = link_to 'Quality', patches_path
          - else
            Quality

  - @patches.each do |patch|
    = render partial: 'shared/patch_card', locals: { patch: patch, wrapper_class: 'col-md-6' }

  .col-sm-12.clearfix
    - unless locals[:hide_pagination]
      .pagination-holder.col-sm-6
        = paginate @patches
