- if @patches.empty?
  .well No patches to show.
- else
  .pagination-holder.col-lg-12
    = paginate @patches
  - @patches.each do |patch|
    .wrapper.col-md-6.well.well-sm.patch-holder
      = link_to patch do
        .image{ class: patch.secret ? :secret : nil }
      .patch
        = link_to patch.name, patch, { class: :title }
        %br/
        .description= patch.description
        - if patch.secret?
          .secret= "[SECRET]"
        .tags
          - patch.tags.first(3).each do |tag|
            = link_to "\##{tag}", tags_show_path(tag: tag), class: :tag
      .info
        - if patch.user.present?
          = link_to patch.username, user_path(patch.user), { class: :username }
        - else
          ¯\_(ツ)_/¯
        %br/
        .date= patch.created_at.strftime("%B #{patch.created_at.day.ordinalize}, %Y" )
        .icons
          - if patch.user == current_user
            = link_to edit_patch_path(patch) do
              .edit.glyph
            = form_tag patch_path(patch), method: :delete, class: :dekete_form do
              = submit_tag 'Delete', class: 'delete glyph'
