.auth-container
  .container#login.col-md-6
    %h2 Log in
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, class: 'form-control'
      .field
        = f.label :password
        %br/
        = f.password_field :password, autocomplete: 'off', class: 'form-control'
      - if devise_mapping.rememberable?
        .field
          = f.check_box :remember_me
          = f.label :remember_me
      .actions
        = f.submit "Log in", class: 'btn btn-default'
    = render "devise/shared/links"

  .container#sign-up.col-md-6
    %h2 Sign up
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render 'devise/shared/error_messages', resource: resource
      .field
        = f.label :username
        %br/
        = f.text_field :username, autofocus: true, class: 'form-control'
      .field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, class: 'form-control'
      .field
        = f.label :password
        - if @minimum_password_length
          %em
            (#{@minimum_password_length} characters minimum)
        %br/
        = f.password_field :password, autocomplete: "off", class: 'form-control'
      .field
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
      .actions
        = f.submit "Sign up", class: 'btn btn-default'
    = render "devise/shared/links"
