.clearfix
  .col-xl-9.col-lg-9.col-md-9.col-sm-12#patch-title
    %h1 Edit patch
  .col-xl-3.col-lg-3.col-md-3.col-sm-12
    = render 'midi_button'
= render 'midi_control'
= form_tag :patch, method: :patch, id: :patch_form do
  - if @patch.errors.any?
    #error_explanation
      %h2= "#{pluralize(@patch.errors.count, "error")} prohibited this patch from being saved:"
      %ul
        - @patch.errors.full_messages.each do |msg|
          %li= msg

  = render 'form'

.col-sm-12
  = link_to 'Show', @patch
#new_choice_form{:style => "display: none;"}
  = render partial: "sequences/new"
