.clearfix
  %h1.hidden New patch
  = render 'midi_button'
= render 'midi_control'
= form_tag '/patch', method: :post, id: :patch_form do
  - if @patch.errors.any?
    #error_explanation
      %h2= "#{pluralize(@patch.errors.count, "error")} prohibited this patch from being saved:"
      %ul
        - @patch.errors.full_messages.each do |msg|
          %li= msg
  = render 'form'
