.sequence-show
  .outer-sequence-box
    .sequence-box
      .param-labels
        .note.param Note
        .step-mode.param Step Mode
        .slide.param Slide
        .active-step.param Active Step
      - @patch.sequences.each do |sequence|
        - sequence.steps.each do |step|
          - num = step.index
          .step
            .note.param
              = label_tag("patch[sequences][][step_#{num}[note]]]") do
                %span.step-note{ data: { note: step.note } }
                  C5 ?
            .step-mode.param
              = label_tag("patch[sequences][][step_#{num}[step_mode]]]") do
                %span
                  .light.sequence-light{ id: "patch_sequences__step_#{num}_step_mode_light", data: { active: step.step_mode.to_s } }
            .slide.param
              = label_tag("patch[sequences][][step_#{num}[slide]]]") do
                %span
                  .light.sequence-light{ id: "patch_sequences__step_#{num}_slide_light", data: { active: step.slide.to_s } }
            .active-step.param
              = label_tag("patch[sequences[][step_#{num}[active_step]]]") do
                %span
                  .light.sequence-light{ id: "patch_sequences__step_#{num}_active_step_light", data: { active: step.active_step.to_s } }
